.Phonetic {
  height: 60px;
  color: #66bfbf;
}

.Phonetic a {
  border: 1px solid #ddd;
  color: #66bfbf;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background-color: #66bfbf;
  color: white;
}

.Phonetic .text {
  opacity: 0.8;
  font-weight: bold;
  padding: 5px;
}
